html {
    background-image: url("../assets/bliss.webp");
    background-size: cover;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}